@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Roboto-Light";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "Roboto-Medium";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: mudium;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
  scroll-behavior: smooth;
  z-index: 1;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus,
:active {
  outline: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

img {
  display: block;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body.lock {
  overflow: hidden;
}

.content-text {
  font-size: 18px;
  line-height: 150%;
  font-weight: 300;
  color: #1a1a1a;
}

.content-title {
  font-size: 48px;
  line-height: 120.83333%;
  font-weight: 700;
  color: #1a1a1a;
}

.content-title span {
  color: #0000FF;
}

.content-padding {
  padding: 160px 0;
}

.content-padding-bottom {
  padding: 0 0 160px 0;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #0000FF;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  -webkit-animation: preloader-bounce 2s infinite ease-in-out;
          animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes preloader-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.popup {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  z-index: -1;
}

.popup.active {
  opacity: 1;
  z-index: 10;
  background-color: #00000041;
}

.popup__body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
}

.popup__content {
  color: #000;
  max-width: 800px;
  width: 100%;
  padding: 30px;
  background: #f5f5f5;
  border-radius: 5px;
  position: relative;
  margin: 75px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__wrapp {
  margin-right: 15px;
}

.popup__text-wrapper {
  margin: 40px 0;
}

.popup__text:not(:last-child) {
  margin-bottom: 20px;
}

.popup__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popup__noMore {
  font-size: 15px;
  line-height: 140%;
  font-weight: 500;
  color: #0000FF;
  margin-right: 62px;
  text-transform: uppercase;
  margin-bottom: 25px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__noMore:hover,
.popup__noMore:focus {
  text-decoration: underline;
}

.popup__link {
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #909090;
}

.popup__images-wrapper {
  margin-left: 15px;
}

.popup__images:not(:last-child) {
  margin-bottom: 10px;
}

.popup__images img {
  border-radius: 5px;
}

.popup .button-about {
  margin: 0 20px 25px 0;
}

.header {
  padding: 35px 0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 15px;
}

.header__navigation {
  margin-left: 15px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.header__item:not(:last-child) {
  margin-right: 45px;
}

.header__item.active {
  z-index: 100;
}

.header__item.active:first-child {
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 1;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
  will-change: transform;
}

.header__item.active:nth-child(2) {
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 1;
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
  will-change: transform;
}

.header__item.active:nth-child(3) {
  -webkit-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  opacity: 1;
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
  will-change: transform;
}

.header__item.active:nth-child(4) {
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 1;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
  will-change: transform;
}

.header__link {
  font-size: 18px;
  line-height: 88.88889%;
  font-weight: 400;
  color: #1a1a1a;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__link:hover,
.header__link:focus {
  color: #0000FF;
}

.header__link.active {
  color: #0000FF;
}

.header__burger-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.icon-menu {
  display: none;
}

.prew-block__container {
  max-width: 1300px;
  background: url("../img/banner.jpg") no-repeat right;
  padding: 60px 15px 100px 80px;
}

.prew-block__body {
  max-width: 561px;
}

.prew-block__title {
  font-size: 54px;
  line-height: 114.81481%;
  font-weight: 700;
  color: #fafafa;
  margin-bottom: 40px;
}

.prew-block__text {
  color: #fafafa;
  font-weight: 700;
  line-height: 25px;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  font-size: 48px;
  line-height: 120.83333%;
  font-weight: 700;
  color: #1a1a1a;
  width: 50%;
  margin-right: 30px;
}

.about__title span {
  color: #0000FF;
}

.about__text {
  width: 50%;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
}

.compare-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.compare-tab:not(:last-child) {
  margin-bottom: 65px;
}

.compare-tab__denomination {
  max-width: 235px;
  width: 100%;
  border-right: 1px solid #909090;
  z-index: 2;
}

.compare-tab__title {
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  text-transform: uppercase;
  color: #0000FF;
  padding: 40px 15px 15px 30px;
}

.compare-tab__title:first-child {
  padding: 25px 15px 25px 30px;
}

.compare-tab__item {
  height: 45px;
  font-size: 15px;
  line-height: 100%;
  font-weight: 400;
  color: #1a1a1a;
  padding: 15px 15px 15px 30px;
}

.compare-tab__item_long {
  padding: 7.5px 15px 7.5px 30px;
}

.compare-tab__item:nth-child(2n) {
  background: #f5f5f5;
}

.compare-tab__skills-wrapper {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.compare-tab__skills {
  width: 100%;
  max-width: 193px;
}

.compare-tab__mark {
  width: 24px;
  height: 24px;
}

.compare-tab__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 6px;
  padding: 0 15px;
}

.compare-tab__skill {
  font-size: 15px;
  line-height: 100%;
  font-weight: 300;
  text-align: center;
  color: #1a1a1a;
  padding: 9.5px 0;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.compare-tab__skill:nth-child(2n) {
  background: #f5f5f5;
}

.compare-tab__skill-null {
  background: #fff;
  height: 45px;
  margin-top: 26px;
}

.compare-tab__mark-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10.5px 0;
  height: 45px;
}

.compare-tab__mark-wrapper:nth-child(2n) {
  background: #f5f5f5;
}

.compare-tab__button {
  max-width: 158px;
  width: 100%;
  height: 48px;
  border: 1px solid #0000FF;
  font-size: 15px;
  line-height: 86.66667%;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.03em;
  color: #0000FF;
  margin: 25px auto 0;
}

.compare-tab__button:hover,
.compare-tab__button:focus {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #0000FF;
  color: #fff;
}

.compare-tab__button:hover span,
.compare-tab__button:focus span {
  color: #fff;
}

.compare-tab__button:hover svg,
.compare-tab__button:focus svg {
  stroke: #fff;
}

.skills-first .compare-tab__skill {
  padding: 15px 0;
}

.compare-home .compare-tab__denomination {
  border: none;
}

.cards__more {
  font-size: 14px;
  line-height: 92.85714%;
  font-weight: 500;
  color: #0000FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cards__arrow {
  width: 11px;
  height: 11px;
  color: #0000FF;
  margin-left: 4px;
}

.cards__arrow.active {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.card {
  background: #f1f1f1;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 38px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 270px 60px 1fr;
  grid-template-columns: 270px 1fr;
  gap: 40px 60px;
  -ms-grid-rows: auto 40px auto;
      grid-template-areas: "position reits-wrapp" "position text-wrapp";
}

.card__position {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-area: position;
}

.card__reits-wrapp {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: reits-wrapp;
}

.card__text-wrapp {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: text-wrapp;
}

.card__place {
  background: #c1c1c1;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 8px;
  max-width: 270px;
  width: 100%;
}

.card__place_first {
  background: #0000FF;
}

.card__place p {
  font-size: 18px;
  line-height: 88.88889%;
  font-weight: 500;
  color: #fafafa;
}

.card__num {
  font-size: 18px;
  line-height: 88.88889%;
  font-weight: 500;
  color: #1a1a1a;
  background: #fff;
  border-radius: 14px;
  padding: 14px 11px;
  margin-right: 35px;
}

.card__images-wrapper {
  margin-top: 10px;
}

.card__images:first-child {
  margin-bottom: 5px;
}

.card__images img {
  border-radius: 5px;
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  width: 100%;
}

.card__name {
  font-size: 36px;
  line-height: 88.88889%;
  font-weight: 500;
  color: #1a1a1a;
}

.card__about-link {
  font-size: 14px;
  line-height: 85.71429%;
  font-weight: 500;
  color: #0000FF;
}

.card__awards-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__awards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
}

.card__awards img {
  margin-left: 20px;
}

.card__reits-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__reits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.card__reits-star-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card__text {
  font-size: 14px;
  line-height: 92.85714%;
  font-weight: 400;
  font-weight: normal;
  color: #9a9a9a;
}

.card__text_days {
  color: #1a1a1a;
}

.card__number {
  font-size: 45px;
  line-height: 88.88889%;
  font-weight: 400;
  color: #1a1a1a;
}

.card__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
}

.card__star {
  width: 20px;
  height: 20px;
}

.card__star:not(:last-child) {
  margin-right: 4px;
}

.card__compatibility-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__compatibility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
}

.card__icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.card__icons {
  width: 24px;
  height: 16px;
}

.card__icons:not(:last-child) {
  margin-right: 4px;
}

.card__text-awords {
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  color: #1a1a1a;
  margin: 0 0 30px;
}

.card__about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__about:not(:last-child) {
  margin-right: 15px;
}

.card__about-item {
  font-size: 18px;
  line-height: 138.88889%;
  font-weight: 300;
  color: #1a1a1a;
}

.card__about-item:not(:last-child) {
  margin-bottom: 10px;
}

.button-about {
  border: 1px solid #0000FF;
  padding: 9px 25px;
  background: transparent;
  max-width: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-about:hover,
.button-about:focus {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #0000FF;
  color: #fff;
}

.button-about:hover span,
.button-about:focus span {
  color: #fff;
}

.button-about:hover svg,
.button-about:focus svg {
  stroke: #fff;
}

.button-about__text {
  font-size: 15px;
  line-height: 140%;
  font-weight: 500;
  color: #0000FF;
  margin-right: 62px;
}

.button-about__arrow {
  width: 32px;
  height: 32px;
  stroke: #0000FF;
}

.card-hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.1s ease-in opacity, 0.1s ease-in visibility;
  -o-transition: 0.1s ease-in opacity, 0.1s ease-in visibility;
  transition: 0.1s ease-in opacity, 0.1s ease-in visibility;
  height: 0;
  padding: 0;
  margin: 0;
}

.card-hidden.active {
  opacity: 1;
  visibility: visible;
  height: 100%;
  display: -ms-grid;
  display: grid;
  padding: 30px;
  margin-bottom: 38px;
}

.trust-us {
  background: #f2f2f8;
  padding: 160px 0;
}

.trust-us__container {
  max-width: 1330px;
  width: 100%;
}

.trust-us__title {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.trust-us__images {
  margin: 20px 0 80px;
}

.trust-us__img {
  max-width: 100%;
}

.trust-us__text {
  font-weight: 300;
  width: 33.333%;
  margin-right: 60px;
}

.trust-us__text-strong {
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  width: 33.333%;
}

.content-text-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.right-price {
  background: #f2f2f8;
}

.right-price__body {
  margin-top: 60px;
}

.right-price__text {
  width: 50%;
}

.right-price__text:first-child {
  margin-right: 60px;
}

.right-price__image {
  margin-left: 60px;
}

.why-antivirus__body {
  margin-top: 60px;
}

.why-antivirus__wrapper {
  width: 33.33%;
  margin-bottom: 120px;
}

.why-antivirus__wrapper:not(:last-child) {
  margin-right: 60px;
}

.why-antivirus__wrapper p:first-child {
  margin-bottom: 20px;
}

.why-antivirus__images-wrapper {
  max-width: 100%;
}

.why-antivirus__images-wrapper img {
  max-width: 100%;
}

.why-antivirus__transparency {
  margin: 40px 0 0;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.why-antivirus__transparency-title {
  font-size: 36px;
  line-height: 113.88889%;
  font-weight: 500;
  color: #1a1a1a;
  margin-right: 30px;
}

.why-antivirus__transparency-text {
  max-width: 720px;
  width: 100%;
}

.finding__body {
  margin-top: 70px;
}

.finding__title-wrapper {
  width: 100%;
  padding: 540px 0 0 0;
  background: url("../img/finding.jpg") no-repeat 32%/cover;
}

.finding__title-body {
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px 50px 0;
  background: #fff;
}

.finding__text {
  font-size: 18px;
  line-height: 150%;
  font-weight: 300;
  color: #1a1a1a;
  width: 50%;
}

.finding__text:not(:last-child) {
  margin-right: 80px;
}

.finding__emphasise {
  color: #0000FF;
  text-decoration: underline;
}

.prew-content {
  background: #f2f2f8;
  padding: 60px 0;
}

.prew-content__title {
  font-size: 48px;
  line-height: 120.83333%;
  font-weight: 700;
  color: #1a1a1a;
}

.prew-content__subtitle {
  margin-top: 10px;
  font-size: 26px;
  line-height: 92.30769%;
  font-weight: 400;
  color: #909090;
}

.disclaimer-about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.disclaimer-about__text {
  width: 50%;
}

.disclaimer-about__text:not(:last-child) {
  margin-right: 60px;
}

.about-compare__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.about-compare__title {
  width: 50%;
  margin: 0 15px;
}

.about-compare__text {
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  color: #1a1a1a;
  width: 100%;
  margin: 0 15px;
  max-width: 560px;
}

.how-compare {
  background: #f2f2f8;
  padding: 160px 0;
}

.how-compare__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.how-compare__text-wrapper {
  max-width: 720px;
  width: 100%;
  margin: 0 15px;
}

.how-compare__title {
  font-size: 48px;
  line-height: 120.83333%;
  font-weight: 700;
  color: #1a1a1a;
  margin: 0 15px;
  max-width: 420px;
}

.how-compare__text {
  font-size: 18px;
  line-height: 150%;
  font-weight: 300;
  color: #1a1a1a;
}

.how-compare__text:not(:last-child) {
  margin-bottom: 20px;
}

.compare-why-antivirus {
  padding: 160px 0;
}

.compare-why-antivirus .why-antivirus__transparency {
  margin: 0;
}

.privacy__wrapper {
  margin-top: 80px;
}

.privacy__title {
  font-size: 36px;
  line-height: 88.88889%;
  font-weight: 500;
  color: #1a1a1a;
  margin-bottom: 30px;
}

.privacy__text {
  font-size: 18px;
  line-height: 177.77778%;
  font-weight: 300;
  color: #000;
  margin-bottom: 25px;
}

.privacy__subtitle {
  font-size: 26px;
  line-height: 88.46154%;
  font-weight: 400;
  color: #909090;
  margin-bottom: 20px;
}

.privacy__list-item {
  font-size: 18px;
  line-height: 150%;
  font-weight: 300;
  color: #000;
  position: relative;
  padding-left: 30px;
}

.privacy__list-item__one {
  margin-bottom: 30px;
}

.privacy__list-item span {
  color: #0000FF;
}

.privacy__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.privacy__list-item::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  background: #000;
  top: 11px;
  left: 13px;
  border-radius: 50%;
}

.privacy-example {
  margin-top: 60px;
}

.privacy-example__title {
  font-size: 15px;
  line-height: 100%;
  font-weight: 400;
  color: #000;
  margin-bottom: 40px;
}

.privacy-example__text {
  font-size: 18px;
  line-height: 150%;
  font-weight: 300;
  color: #000;
}

.privacy-example__text a {
  text-decoration: underline;
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__items {
  max-width: 360px;
  margin-right: 60px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 60px;
}

.contacts__title {
  font-size: 15px;
  line-height: 100%;
  font-weight: 400;
  color: #1a1a1a;
  margin-bottom: 15px;
}

.contacts__text {
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  color: #1a1a1a;
}

.contacts__images {
  -webkit-animation: animateMoveUp20 linear 3s infinite alternate;
          animation: animateMoveUp20 linear 3s infinite alternate;
}

@-webkit-keyframes animateMoveUp20 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes animateMoveUp20 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

.contacts__pick {
  max-width: 100%;
}

.footer {
  padding: 80px 0;
  background: #150f38;
  margin-top: auto;
}

.footer__nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin-right: 30px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__item:not(:last-child) {
  margin-right: 45px;
}

.footer__link {
  font-size: 18px;
  line-height: 88.88889%;
  font-weight: 400;
  color: #fff;
  -webkit-transition: 0.25ms ease-in-out;
  -o-transition: 0.25ms ease-in-out;
  transition: 0.25ms ease-in-out;
}

.footer__link:hover,
.footer__link:focus {
  color: #0000FF;
}

.footer__link.active {
  color: #0000FF;
}

@media screen and (max-width: 1250px) {
  .about-compare__body {
    margin: 0;
  }

  .about-compare__title {
    margin: 0 0 30px;
    width: 100%;
  }

  .about-compare__text {
    margin: 0;
  }

  .how-compare__body {
    margin: 0;
  }

  .how-compare__text-wrapper {
    margin-left: 30px;
  }

  .how-compare__title {
    margin: 0;
  }
}

@media (max-width: 1212px) {
  .container {
    max-width: 970px;
  }
}

@media screen and (max-width: 1199px) {
  .card__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .card__awards-wrapp {
    margin-top: 20px;
  }

  .card__awards img {
    margin-left: 0;
  }
}

@media screen and (max-width: 1050px) {
  .about-compare__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-compare__text {
    max-width: 680px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 800px;
    padding: 0 10px;
  }

  .header {
    padding: 15px 0;
  }

  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .header__navigation {
    margin: 0;
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 0;
    position: relative;
    top: -100%;
    -webkit-transition: top 1s ease 0s, height 1s ease-in;
    -o-transition: top 1s ease 0s, height 1s ease-in;
    transition: top 1s ease 0s, height 1s ease-in;
  }

  .header__navigation.active {
    margin: 45px 0 30px;
    top: 0;
    height: 100%;
  }

  .header__wrapper {
    height: 0;
    margin-top: 10px;
  }

  .header__wrapper.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }

  .header__item:not(:last-child) {
    margin: 0 0 50px 0;
  }

  .header__item {
    z-index: -1;
    opacity: 0;
    vertical-align: baseline;
  }

  .header__link {
    font-size: 36px;
  }

  .header__burger-wrapper {
    width: 100%;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 25px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0000FF;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media screen and (max-width: 992px) {
  .content-padding {
    padding: 100px 0;
  }

  .content-padding-bottom {
    padding: 0 0 120px 0;
  }

  .prew-block__container {
    padding: 60px 15px 60px 30px !important;
  }

  .about__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .card {
        grid-template-areas: "position reits-wrapp" "text-wrapp text-wrapp";
  }

  .card__awards-wrapp {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card__reits-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card__reits {
    margin: 0 0 20px 0;
  }

  .button-about {
    margin-top: 20px;
  }

  .trust-us__images {
    margin-bottom: 50px;
  }

  .trust-us__text {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .trust-us__text-strong {
    width: 100%;
  }

  .content-text-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .right-price__text-wrapper {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }

  .right-price__text:first-child {
    margin-right: 25px;
  }

  .right-price__image {
    display: none;
  }

  .why-antivirus__wrapper {
    width: 100%;
    margin-bottom: 20px;
  }

  .why-antivirus__wrapper:not(:last-child) {
    margin-right: 0;
  }

  .finding__body {
    margin-top: 50px;
  }

  .finding__title-body {
    padding: 50px 15px 0;
  }

  .finding__text {
    width: 100%;
  }

  .finding__text:not(:last-child) {
    margin: 0 0 20px 0;
  }

  .how-compare {
    padding: 100px 0;
  }

  .how-compare__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .how-compare__text-wrapper {
    margin: 30px 0;
    max-width: initial;
  }

  .how-compare__title {
    max-width: 500px;
  }

  .compare-why-antivirus {
    padding: 100px 0;
  }

  .contacts__item:not(:last-child) {
    margin-bottom: 50px;
  }

  .card__position {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  .card__reits-wrapp {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .card__text-wrapp {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}

@media screen and (max-width: 900px) {
  .disclaimer-about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .disclaimer-about__text {
    width: 100%;
  }

  .disclaimer-about__text:not(:last-child) {
    margin: 0 0 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .content-title {
    font-size: 44px;
  }

  .content-padding {
    padding: 80px 0;
  }

  .content-padding-bottom {
    padding: 0 0 80px 0;
  }

  .popup__content {
    margin: 75px 10px;
  }

  .prew-block__container {
    padding: 50px 10px !important;
    background: no-repeat 67%/cover url("../img/banner.jpg");
  }

  .prew-block__title {
    font-size: 47px;
  }

  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__title {
    font-size: 44px;
  }

  .about__title {
    width: 100%;
    margin: 0 0 30px 0;
  }

  .about__text {
    width: 100%;
    margin: 0;
  }

  .card {
    gap: 40px;
  }

  .right-price__body {
    margin-top: 40px;
  }

  .right-price__text-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .right-price__text {
    width: 100%;
  }

  .right-price__text:first-child {
    margin: 0 0 20px 0;
  }

  .why-antivirus__body {
    margin-top: 40px;
  }

  .why-antivirus__transparency {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .why-antivirus__transparency-title {
    margin: 0 0 25px 0;
    font-size: 34px;
  }

  .finding__title-wrapper {
    padding: 320px 0 0 0;
  }

  .about-compare__title {
    margin: 0 0 20px;
  }

  .how-compare {
    padding: 80px 0;
  }

  .compare-why-antivirus {
    padding: 80px 0;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

@media screen and (max-width: 749px) {
  .footer {
    padding: 60px 0;
  }

  .footer__nav-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__wrapper {
    margin-top: 25px;
  }
}

@media screen and (max-width: 660px) {
  .popup__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 10px;
  }

  .popup__wrapp {
    margin-top: 35px;
  }

  .popup__text-wrapper {
    margin: 20px 0;
  }

  .popup__text:not(:last-child) {
    margin-bottom: 15px;
  }

  .popup__button-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .popup__noMore {
    margin-right: 0;
  }

  .popup__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .popup__images-wrapper {
    margin-left: 0;
  }

  .popup .button-about {
    margin-right: 0;
  }
}

@media screen and (max-width: 650px) {
  .card {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 30px 15px;
        grid-template-areas: "position" "reits-wrapp" "text-wrapp";
  }
  .card__position {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .card__reits-wrapp {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .card__text-wrapp {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

@media screen and (max-width: 600px) {
  .contacts__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__items {
    margin: 0 0 50px 0;
  }

  .contacts__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .contacts__images {
    max-width: 450px;
  }
}

@media screen and (max-width: 576px) {
  .content-text {
    font-size: 16px;
  }

  .content-title {
    font-size: 40px;
  }

  .content-padding {
    padding: 60px 0;
  }

  .content-padding-bottom {
    padding: 0 0 60px 0;
  }

  .about__title {
    font-size: 40px;
  }

  .card {
    gap: 30px;
    padding: 30px 10px;
  }

  .card__place p {
    font-size: 16px;
  }

  .card__num {
    font-size: 16px;
  }

  .card__name {
    font-size: 34px;
  }

  .card__text-awords {
    font-size: 18px;
    line-height: 144.44444%;
    font-weight: 400;
  }

  .card__about-item {
    font-size: 16px;
    line-height: 150%;
    font-weight: 300;
  }

  .card-hidden {
    padding: 0;
  }

  .card-hidden.active {
    padding: 30px 10px;
  }

  .why-antivirus__transparency-title {
    font-size: 32px;
  }

  .prew-content {
    padding: 45px 0;
  }

  .about-compare__text {
    font-size: 16px;
  }

  .compare-home .compare-tab__logo {
    margin-bottom: 5px;
  }

  .how-compare {
    padding: 60px 0;
  }

  .how-compare__text {
    font-size: 16px;
  }

  .compare-why-antivirus {
    padding: 60px 0;
  }

  .privacy__wrapper {
    margin-bottom: 0;
  }

  .privacy__title {
    font-size: 32px;
  }

  .privacy__text {
    font-size: 17px;
  }

  .privacy__subtitle {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .privacy__list-item {
    font-size: 16px;
  }

  .privacy__list-item__one {
    margin-bottom: 20px;
  }

  .privacy-example__title {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .privacy-example__text {
    font-size: 16px;
  }

  .contacts__text {
    font-size: 18px;
  }

  .footer {
    padding: 40px 0;
  }

  .footer__nav-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
  }

  .footer__item:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (max-width: 568px) {
  .compare-tab {
    margin-top: 30px;
  }

  .compare-tab__title {
    font-size: 15px;
    padding: 41.5px 15px 15px 30px;
  }

  .compare-tab__item {
    font-size: 14px;
  }

  .compare-tab__skill {
    font-size: 14px;
  }

  .compare-tab__button {
    font-size: 14px;
  }

  .prew-content__title {
    font-size: 41px;
  }

  .prew-content__subtitle {
    font-size: 22px;
  }

  .how-compare__title {
    font-size: 41px;
  }
}

@media screen and (max-width: 450px) {
  .compare-tab__item {
    padding: 15px 10px;
  }

  .compare-tab__item_long {
    padding: 7.5px 0px 7.5px 7px;
  }

  .compare-tab__skills {
    width: initial;
    max-width: initial;
  }
}

@media screen and (max-width: 390px) {
  .compare-tab-long {
    padding: 7.5px 0px 7.5px 7px;
    height: 45px;
  }
}

.webp .prew-block__container { background: url(../img/banner.webp) no-repeat right; }

.webp .finding__title-wrapper { background: url(../img/finding.webp) no-repeat 32%/cover; }

@media screen and (max-width: 768px) {

  .webp .prew-block__container { background: no-repeat 67%/cover url(../img/banner.webp); }
}