.contacts {
   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 600px) {
         flex-direction: column;
      }
   }

   &__items {
      max-width: 360px;
      margin-right: 60px;

      @media screen and (max-width: 600px) {
         margin: 0 0 50px 0;
      }
   }

   &__item {
      &:not(:last-child) {
         margin-bottom: 60px;

         @media screen and (max-width: 992px) {
            margin-bottom: 50px;
         }

         @media screen and (max-width: 600px) {
            margin-bottom: 40px;
         }
      }
   }

   &__title {
      @include fonts(15px, 15px, 400);
      color: #1a1a1a;
      margin-bottom: 15px;
   }

   &__text {
      @include fonts(20px, 24px, 400);
      color: #1a1a1a;

      @media screen and (max-width: 576px) {
         font-size: 18px;
      }
   }

   &__images {
      animation: animateMoveUp20 linear 3s infinite alternate;

      @keyframes animateMoveUp20 {
         0% {
            transform: translateY(0);
         }

         100% {
            transform: translateY(-20px);
         }
      }

      @media screen and (max-width: 600px) {
         max-width: 450px;
      }
   }
   &__pick {
      max-width: 100%;
   }
}
